<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/scripts/toast.js"></script>
    <script src="/scripts/tokens.js"></script>
    <script src="/scripts/logout.js"></script>

    <title>Job Poster Profile</title>
  </head>
  <body class="bg-white flex flex-col justify-between min-h-screen">
    <!-- Top Navigation Bar -->
    <header>
      <nav
        class="bg-white py-2 px-4 flex items-center justify-between shadow-md"
      >
        <!-- Company Name -->
        <div class="text-[#F0823E] flex items-center company-name">
          <span class="text-60px font-bold">V</span>
          <span class="text-30px font-medium">ocation</span>
        </div>

        <div class="flex space-x-8">
          <!-- Home -->
          <a href="/" class="flex flex-col items-center">
            <img src="/assets/homeIcon.png" alt="Home" class="h-6 w-6" />
            <span class="text-sm text-black mt-1">Home</span>
          </a>
          <!-- Profile -->
          <a class="flex flex-col items-center">
            <img src="/assets/userIcon.png" alt="Profile" class="h-6 w-6" />
            <span class="text-sm text-gray-500 mt-1">Profile</span>
          </a>
          <!-- Logout -->
          <a
            class="flex flex-col items-center cursor-pointer"
            id="logout-button"
          >
            <img src="/assets/logoutIcon.png" alt="Logout" class="h-6 w-6" />
            <span class="text-sm text-gray-500 mt-1">Logout</span>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <form class="px-6 py-8 max-w-[400px] mx-auto">
        <!-- Modal Header -->
        <div class="flex items-center justify-center space-x-2 mb-4">
          <h2 class="text-[40px] font-light text-black">Update Profile</h2>
        </div>

        <!-- Name and Industry -->
        <div class="flex flex-col space-y-4 mb-4">
          <!-- Company Name -->
          <div class="w-full">
            <label
              for="name"
              class="block text-black font-bold text-[12px] mb-1"
            >
              Company Name</label
            >
            <input
              type="text"
              id="name"
              placeholder="Enter name"
              class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
            />
          </div>

          <!-- Industry -->
          <div class="w-full">
            <label
              for="industry"
              class="block text-black font-bold text-[12px] mb-1"
              >Industry</label
            >
            <select
              id="industry"
              class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
            >
              <option value="Design">Design</option>
              <option value="Software Engineering">Software Engineering</option>
              <option value="Marketing">Marketing</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Finance">Finance</option>
              <option value="Education">Education</option>
              <option value="Construction">Construction</option>
            </select>
          </div>
        </div>

        <!-- About -->
        <div class="mb-4">
          <label for="about" class="block text-black font-bold text-[12px] mb-1"
            >About</label
          >
          <textarea
            id="about"
            placeholder="Tell us about yourself"
            class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px] h-[100px]"
          ></textarea>
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="block text-black font-bold text-[12px] mb-1"
            >Email</label
          >
          <input
            type="email"
            id="email"
            placeholder="Enter company email"
            class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
          />
        </div>

        <!-- Location (City & Country) -->
        <div class="mb-4">
          <label
            for="location"
            class="block text-black font-bold text-[12px] mb-1"
            >Location</label
          >
          <input
            type="text"
            id="location"
            placeholder="Enter location"
            class="w-1/2 border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
          />
        </div>

        <!-- Banner Image Upload and Profile Image Upload -->
        <div class="mb-4 flex flex-col space-y-4">
          <!-- Banner Image Upload -->
          <div class="w-full">
            <label
              for="bannerImage"
              class="block text-black font-bold text-[12px] mb-1"
              >Banner Image</label
            >
            <input
              type="file"
              id="bannerImage"
              accept="image/*"
              class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
            />
          </div>

          <!-- Profile Image Upload -->
          <div class="w-full">
            <label
              for="profileImage"
              class="block text-black font-bold text-[12px] mb-1"
              >Profile Image</label
            >
            <input
              type="file"
              id="profileImage"
              accept="image/*"
              class="w-full border border-gray-300 rounded-lg px-2 py-2 text-[12px]"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center py-6">
          <button
            type="submit"
            class="w-[120px] bg-[#57DD70] text-white font-bold text-[14px] py-2 rounded-full hover:bg-[#57DD70]/90 transition"
          >
            Submit
          </button>
        </div>
      </form>
    </main>

    <div class="mt-6 text-center pb-3 bg-white">
      <p class="text-black text-[16px] font-bold sm:text-sm">
        © 2025 Vocation. All Rights Reserved.
      </p>
    </div>
  </body>
</html>
