<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/scripts/toast.js"></script>
    <script src="/scripts/tokens.js"></script>
    <script src="/scripts/logout.js"></script>
    <script src="/scripts/job-poster.js"></script>
    <script src="/scripts/confirm-box.js"></script>

    <title>Job Details</title>
  </head>
  <body class="bg-white" th:attr="data-job-id=${jobId}">
    <!-- Top Navigation Bar -->
    <header>
      <nav class="bg-white py-2 px-4 flex items-center justify-between">
        <!-- Company Name -->
        <div class="text-[#F0823E] flex items-center company-name">
          <span class="text-[60px] font-bold">V</span>
          <span class="text-[30px] font-medium">ocation</span>
        </div>

        <div class="flex space-x-8">
          <!-- Home -->
          <a href="/job-posters/dashboard" class="flex flex-col items-center">
            <img src="/assets/homeIcon.png" alt="Home" class="h-6 w-6" />
            <span class="text-sm text-black mt-1">Home</span>
          </a>
          <!-- Profile -->
          <a href="/job-posters/profile" class="flex flex-col items-center">
            <img src="/assets/userIcon.png" alt="Profile" class="h-6 w-6" />
            <span class="text-sm text-gray-500 mt-1">Profile</span>
          </a>
          <!-- Logout -->
          <a
            class="flex flex-col items-center cursor-pointer"
            id="logout-button"
          >
            <img src="/assets/logoutIcon.png" alt="Logout" class="h-6 w-6" />
            <span class="text-sm text-gray-500 mt-1">Logout</span>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="mx-auto">
        <img
          src="/assets/companyLogo.png"
          alt="Company Logo"
          class="w-[160px] h-[160px] rounded-full mx-auto mt-3 mb-4"
        />
      </div>

      <section
        class="bg-white pt-1 py-8 mx-auto max-w-[950px] text-center px-4"
      >
        <!-- Job Title -->
        <div class="mb-6">
          <h2 class="text-[80px] font-bold" th:text="${jobTitle}"></h2>
        </div>

        <!-- Job Details -->
        <div class="text-left">
          <!-- Date and Onsite -->
          <div class="flex justify-start space-x-4 mb-4">
            <p
              class="text-[#F0823E] text-[16px] font-bold"
              th:text="'Date: ' + ${startDate}"
            ></p>
            <p
              class="text-[#F0823E] text-[16px] font-bold"
              th:text="${jobType.name()}"
            ></p>
          </div>

          <!-- Job Description -->
          <p
            class="text-[16px] text-black font-light mb-4"
            th:text="${jobDescription}"
          ></p>
        </div>
        <!-- Pay, Skills -->
        <div class="flex flex-col justify-start mb-4">
          <p
            class="text-[#F0823E] text-[16px] font-bold"
            th:text="'Pay: ' + ${budget} + ' Birr/hr'"
          ></p>
          <p
            class="text-[#F0823E] text-[16px] font-bold"
            th:text="'Skills: ' + ${skills}"
          ></p>

          <!-- Deadline -->
          <p
            class="text-[#F0443E] text-[16px] font-bold"
            th:text="'Deadline: ' + ${deadline}"
          ></p>
        </div>
      </section>

      <section>
        <div class="mt-10 flex flex-col items-center px-4 py-5 sm:px-8">
          <div class="flex items-center gap-2">
            <p class="text-[40px] font-light text-black">Applicants</p>
          </div>

          <!-- Empty state for no applications -->
          <div id="empty-state" class="hidden text-center my-10">
            <img
              src="/assets/emptyIcon.png"
              alt="Empty Icon"
              class="w-64 h-64 mx-auto mb-4 opacity-65"
            />
            <p class="text-lg text-gray-700">No applications available</p>
          </div>

          <div
            class="w-full lg:w-[87%] border-[1.5px] border-black/[0.36] rounded-lg p-4 items-center flex flex-col gap-6 mt-6 mx-2 shadow-lg application-item"
            th:each="applicationItem : ${applications}"
            th:if="${applicationItem.status.name() != 'REJECTED'}"
            th:attr="data-application-id=${applicationItem.id}"
          >
            <div class="flex flex-nowrap w-full gap-6">
              <div class="flex items-center gap-4">
                <!-- Circular Image -->
                <img
                  src="/assets/applicant.png"
                  alt="Profile"
                  class="w-[100px] h-[100px] rounded-full hidden lg:block"
                />

                <!-- Left Content (Details) -->
                <div class="flex-1">
                  <p
                    class="text-[22px] lg:text-[27px] text-[#6F6C6C] font-light"
                    th:text="${applicationItem.freelancer.user.name}"
                  ></p>

                  <div class="flex items-center mt-1">
                    <img
                      src="/assets/suitcaseIcon.png"
                      alt="Company Icon"
                      class="w-4 h-4 mr-2"
                    />
                    <p
                      class="text-[16px] font-bold text-[#F0823E]"
                      th:text="${applicationItem.freelancer.industry}"
                    ></p>
                  </div>

                  <div class="flex items-center mt-1">
                    <img
                      src="/assets/mailIcon.png"
                      alt="Mail Icon"
                      class="w-4 h-4 mr-2"
                    />
                    <p
                      class="text-[16px] font-bold text-[#716D6D]"
                      th:text="${applicationItem.freelancer.user.email}"
                    ></p>
                  </div>

                  <div class="flex items-center mt-1">
                    <img
                      src="/assets/LocationIcon.png"
                      alt="Location Icon"
                      class="w-4 h-4 mr-2"
                    />
                    <p
                      class="text-[16px] font-bold text-[#716D6D]"
                      th:text="${applicationItem.freelancer.location}"
                    ></p>
                  </div>
                </div>
              </div>

              <!-- Right Content -->
              <div
                class="flex items-center justify-between lg:justify-end gap-6 lg:flex-1"
              >
                <th:block
                  th:if="${applicationItem.status.name() == 'ACCEPTED'}"
                >
                  <!-- Show accepted icon instead of buttons -->
                  <div
                    class="flex items-center gap-2 text-green-700 font-bold text-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6 text-green-700"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M12 2a10 10 0 1010 10A10.011 10.011 0 0012 2zm4.707 7.293a1 1 0 00-1.414-1.414L10 13.172l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l6-6z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span>Accepted!</span>
                  </div>
                </th:block>
                <th:block
                  th:if="${applicationItem.status.name() != 'ACCEPTED'}"
                >
                  <!-- Accept Button -->
                  <button
                    class="accept-app-btn border-[1px] border-[#57DD70] text-[#A0A0A0] font-bold text-[14px] lg:text-[16px] px-3 py-1 rounded-[50px] hover:bg-[#57DD70] hover:text-white transition"
                  >
                    Accept
                  </button>

                  <!-- Reject Button -->
                  <button
                    class="reject-app-btn border-[1px] border-[#F0443E] text-[#A0A0A0] font-bold text-[14px] lg:text-[16px] px-3 py-1 rounded-[50px] hover:bg-[#F0443E] hover:text-white transition"
                  >
                    Reject
                  </button>
                </th:block>
              </div>
            </div>

            <!-- Cover Letter -->
            <div class="w-full">
              <h3 class="text-[20px] font-bold text-[#6F6C6C]">Description</h3>
              <p
                class="text-[16px] text-black font-light mt-2"
                th:text="${applicationItem.freelancer.description}"
              ></p>
            </div>

            <!-- Resume Link -->
            <div class="w-full">
              <h3 class="text-[20px] font-bold text-[#6F6C6C]">Resume</h3>
              <a
                href="#"
                th:href="@{${applicationItem.freelancer.resumeLink}}"
                class="text-[16px] text-[#F0823E] font-bold hover:underline"
                >View Resume</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="bg-black py-8 mt-4">
      <div
        class="grid grid-cols-5 gap-6 text-center text-[16px] font-bold text-white"
      >
        <!-- First Column -->
        <div class="flex flex-col gap-4">
          <a
            href="/"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Home</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >About Us</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Contact Us</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Privacy Policy</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Terms & Conditions</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >FAQs</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Blog</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Careers</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Support Center</a
          >
        </div>

        <!-- Second Column -->
        <div class="flex flex-col gap-4">
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Create a Profile</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Browse Jobs</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Apply for Jobs</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Update Availability</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >View Job Offers</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Search by Skills</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Job Seeker Dashboard</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >How It Works</a
          >
        </div>

        <!-- Third Column -->
        <div class="flex flex-col gap-4">
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Our Mission</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Our Vision</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Team</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Partners</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Media Kit</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Press Releases</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Investor Relations</a
          >
        </div>

        <!-- Fourth Column -->
        <div class="flex flex-col gap-4">
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Facebook</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Twitter</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >LinkedIn</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Instagram</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >YouTube</a
          >
        </div>

        <!-- Fifth Column -->
        <div class="flex flex-col gap-4">
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Contact Support</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Troubleshooting Guides</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Live Chat</a
          >
          <a
            href="#"
            class="hover:text-[#F0823E] text-white text-sm sm:text-base"
            >Community Forum</a
          >
          <a
            href="#"
            class="hover:text-[#6EB0B6] text-white text-sm sm:text-base"
            >Knowledge Base</a
          >
        </div>
      </div>
    </footer>
    <!-- Copyright Section -->
    <div class="mt-6 text-center pb-3 bg-white">
      <p class="text-black text-[16px] font-bold sm:text-sm">
        © 2025 Vocation. All Rights Reserved.
      </p>
    </div>

    <script>
      const applicationItems = document.querySelectorAll(".application-item");
      const emptyState = document.getElementById("empty-state");

      if (applicationItems.length === 0) {
        emptyState.classList.remove("hidden");
      } else {
        emptyState.classList.add("hidden");
      }

      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelectorAll(".accept-app-btn, .reject-app-btn")
          .forEach((button) => {
            button.addEventListener("click", async function () {
              const applicationContainer = this.closest(
                "[data-application-id]"
              );
              const applicationId = applicationContainer.getAttribute(
                "data-application-id"
              );
              const jobId = document.body.getAttribute("data-job-id");
              const newStatus = this.classList.contains("accept-app-btn")
                ? "ACCEPTED"
                : "REJECTED";

              let message = "Are you sure you want to accept this application?";
              if (newStatus == "REJECTED") {
                message = "Are you sure you want to reject this application?";
              }

              const colorScheme = this.classList.contains("accept-app-btn")
                ? "success"
                : "error";
              const confirmed = await showConfirmBox(message, colorScheme);
              if (!confirmed) {
                return;
              }

              sendApplicationStatusUpdateRequest(
                jobId,
                applicationId,
                newStatus
              );
            });
          });
      });
    </script>
  </body>
</html>
